# Picking Productivity Report Assignment

In [111]:
# Importing Libraries
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import datetime

In [112]:
# Import path of the file to load data and read
df = pd.read_csv('C:/Users/Sha/Desktop/Yasmine/Kapscomoto/Data.csv')
data = pd.DataFrame(df)
data.head(10)

,Product,Transaction Date,Transaction Type,Qty,Account,Created,Edited,User,Bin
0,ABC,11/4/2022 16:29,QuickPick,-1,Customer Order,11/4/2022 16:29,11/4/2022 16:29,J,1B-01A
1,ABC,11/4/2022 16:28,QuickPick,-1,Customer Order,11/4/2022 16:28,11/4/2022 16:28,J,1B-01A
2,ABC,11/4/2022 16:27,QuickPick,-1,Customer Order,11/4/2022 16:27,11/4/2022 16:27,J,1B-07A
3,ABC,11/4/2022 16:27,QuickPick,-3,Customer Order,11/4/2022 16:27,11/4/2022 16:27,J,1B-01A
4,ABC,11/4/2022 16:26,QuickPick,-1,Customer Order,11/4/2022 16:26,11/4/2022 16:26,J,2A-01C
5,ABC,11/4/2022 14:46,QuickPick,-1,Customer Order,11/4/2022 14:46,11/4/2022 14:46,C,[A-02-A]-8
6,ABC,11/4/2022 14:45,QuickPick,-1,Customer Order,11/4/2022 14:45,11/4/2022 14:45,C,[B-33-A]-9
7,ABC,11/4/2022 14:44,QuickPick,-2,Customer Order,11/4/2022 14:44,11/4/2022 14:44,C,[B-27-A]-7
8,ABC,11/4/2022 14:44,QuickPick,-1,Customer Order,11/4/2022 14:44,11/4/2022 14:44,C,[B-29-A]-1
9,ABC,11/4/2022 14:44,QuickPick,-1,Customer Order,11/4/2022 14:44,11/4/2022 14:44,H,[C-10-A]-7

In [113]:
# Remove unwanted columns
data=df.drop(['Product','Transaction Type','Account','Created','Edited'], axis=1)

# Rename the 'Transaction Date' column to 'Date'
data.rename(columns={'Transaction Date': 'Date'}, inplace=True)

# Extract the date from the timestamp column
data['Date'] = pd.to_datetime(data['Date']).dt.date

data.head(10)

         Date  Qty User         Bin
0  2022-11-04   -1    J      1B-01A
1  2022-11-04   -1    J      1B-01A
2  2022-11-04   -1    J      1B-07A
3  2022-11-04   -3    J      1B-01A
4  2022-11-04   -1    J      2A-01C
5  2022-11-04   -1    C  [A-02-A]-8
6  2022-11-04   -1    C  [B-33-A]-9
7  2022-11-04   -2    C  [B-27-A]-7
8  2022-11-04   -1    C  [B-29-A]-1
9  2022-11-04   -1    H  [C-10-A]-7

In [114]:
# Extract the aisle from the bin column
import re

Aisles = []

for bin in data['Bin']:
    match = re.search(r"\[(\w)", bin)
    if match:
        aisle = match.group(1)
        Aisles.append(aisle)
    else:
        aisle = bin[0]
        Aisles.append(aisle)

data['Aisle']=Aisles
print(data.head(10))

         Date  Qty User         Bin Aisle
0  2022-11-04   -1    J      1B-01A     1
1  2022-11-04   -1    J      1B-01A     1
2  2022-11-04   -1    J      1B-07A     1
3  2022-11-04   -3    J      1B-01A     1
4  2022-11-04   -1    J      2A-01C     2
5  2022-11-04   -1    C  [A-02-A]-8     A
6  2022-11-04   -1    C  [B-33-A]-9     B
7  2022-11-04   -2    C  [B-27-A]-7     B
8  2022-11-04   -1    C  [B-29-A]-1     B
9  2022-11-04   -1    H  [C-10-A]-7     C

In [115]:
# Add a Column named Count to the data.
data['Count'] = data.groupby(['Date', 'User', 'Bin'])['Qty'].transform('count')
print(data.head(10))

         Date  Qty User         Bin Aisle  Count
0  2022-11-04   -1    J      1B-01A     1      3
1  2022-11-04   -1    J      1B-01A     1      3
2  2022-11-04   -1    J      1B-07A     1      1
3  2022-11-04   -3    J      1B-01A     1      3
4  2022-11-04   -1    J      2A-01C     2      1
5  2022-11-04   -1    C  [A-02-A]-8     A      1
6  2022-11-04   -1    C  [B-33-A]-9     B      1
7  2022-11-04   -2    C  [B-27-A]-7     B      1
8  2022-11-04   -1    C  [B-29-A]-1     B      1
9  2022-11-04   -1    H  [C-10-A]-7     C      2

## Report By Date

In [116]:
# Group the data by date and calculate count and sum of quantities
Report_By_Date = data.groupby('Date').agg({'Count': 'count', 'Qty': 'sum'}).abs().reset_index()

Report_By_Date = Report_By_Date.style

# Apply CSS styles to bold and center align the row and column headings
Report_By_Date.set_table_styles([
    {'selector': 'th',
     'props': [
         ('text-align', 'center'),
         ('font-weight', 'bold')
     ]},
    {'selector': 'td',
     'props': [
         ('text-align', 'center')
     ]}
])

# Display the report by date
print("\033[1mPicking Productivity Report by Date\033[0m")
print("-----------------------------------")
display(Report_By_Date)

Picking Productivity Report by Date
-----------------------------------

## Report By Employee

In [117]:
import numpy as np

Report_By_Employee = pd.pivot_table(data, values=['Count','Qty'], index='User', columns='Date', aggfunc={'Count': 'count', 'Qty': np.sum}, fill_value='')

# Remove decimal places and format as integers
Report_By_Employee = Report_By_Employee.applymap(lambda x: abs(int(x)) if pd.notnull(x) and isinstance(x, float) else x)
Report_By_Employee = Report_By_Employee.style

# Apply CSS styles to bold and center align the row and column headings
Report_By_Employee.set_table_styles([
    {'selector': 'th',
     'props': [
         ('text-align', 'center'),
         ('font-weight', 'bold')
     ]},
    {'selector': 'td',
     'props': [
         ('text-align', 'center')
     ]}
])

# Display the report by Employee
print("\033[1mPicking Productivity Report by Employee\033[0m")
print("---------------------------------------")
display(Report_By_Employee)

Picking Productivity Report by Employee
---------------------------------------

## Report By Aisle

In [118]:
# Group the data by date, employee, and aisle and calculate the count of non-null values
Report_By_Aisle1 = pd.pivot_table(data, index='User', values='Qty', columns=['Date', 'Aisle'],aggfunc=sum, fill_value='')
Report_By_Aisle1 = Report_By_Aisle1.applymap(lambda x: abs(x) if pd.notnull(x) and isinstance(x, (int, float)) else x)

# Remove decimal places and format as integers
Report_By_Aisle1 = Report_By_Aisle1.applymap(lambda x: int(x) if pd.notnull(x) and isinstance(x, float) else x)

Report_By_Aisle1 = Report_By_Aisle1.style

# Apply CSS styles to bold and center align the row and column headings
Report_By_Aisle1.set_table_styles([
    {'selector': 'th',
     'props': [
         ('text-align', 'center'),
         ('font-weight', 'bold')
     ]},
    {'selector': 'td',
     'props': [
         ('text-align', 'center')
     ]}
])


# Extract the underlying DataFrames from Styler objects
Report_By_Aisle_df = Report_By_Aisle1.data
Report_By_Employee_df = Report_By_Employee.data

# Concatenate the two pivot tables by date
Report_By_Aisle = pd.concat([Report_By_Aisle_df, Report_By_Employee_df], axis=1)

print("\033[1mPicking Productivity Report By Aisle \033[0m")
print("------------------------------------")
display(Report_By_Aisle)

Picking Productivity Report By Aisle
------------------------------------

Date  2022-10-03                            2022-10-04            ...  \
Aisle          1    2    3   4    A    B  C          1    2    3  ...
User                                                              ...
A             37   66  234        3    6           184    7   19  ...
B            298   35                                   162    4  ...
C             92                259  134  9                       ...
D                                                                 ...
E                      128   2        12                     111  ...
F                                                                 ...
G                                                                 ...
H             40  474       13   51   20  5          6            ...
I             50                 27  298                          ...
J              3                  4    1             1            ...

Date         Qty                                                         \
Aisle 2022-10-24 2022-10-25 2022-10-26 2022-10-27 2022-10-28 2022-10-31
User
A            314        135        131        110         85
B            236        138        148        134        105        265
C            307                                           9        317
D
E            153         92         73        120         93        292
F            149                                                    181
G
H            326        197        196        186                   402
I            268         33                              153        250
J              4          1                     3          1

Date
Aisle 2022-11-01 2022-11-02 2022-11-03 2022-11-04
User
A                       129        119        119
B
C                                    3         18
D
E             96         81         77         49
F            137        122        129         97
G              7
H            184        223        199        166
I            127
J              2          3                     7

[10 rows x 218 columns]

## Export to Excel

In [119]:
# Export reports to Excel. 
#Create a Pandas Excel writer using the 'xlsxwriter' engine
writer = pd.ExcelWriter('C:/Users/Sha/Desktop/Yasmine/Kapscomoto/Picking_Productivity_Reports_Yasmine.xlsx', engine='xlsxwriter')



Report_By_Date.to_excel(writer, sheet_name='Report by Date')
Report_By_Employee.to_excel(writer, sheet_name='Report by Employee')
Report_By_Aisle.to_excel(writer, sheet_name='Report by Aisle')

# Save the Excel file
writer.save()